/*variables fonts*/
$tipografia: "etna-sans-serif";
$tipografia-tamaños-varios: medium;

/*maps-fonts*/

$fonts-grosor:(
    thin:120,
    light:200,
    regular:200,
    medium:300,
    bold:500,
    black:600
);

$tamaños:(
    11:11px,
    12:12px,
    15:15px,
    24:24px
);
