
$redes:(
    facebook: blue,
    facebook__2: rgba(54, 41, 238, 0.466),
    facebook__3:  rgb(31, 61, 231),

    instagram:rgb(255, 0, 255),
    instagram__2:rgba(114, 23, 156, 0.466),
    instagram__3:rgb(107, 19, 179),
    
    whatsapp: green,
    whatsapp__2: rgba(9, 168, 9, 0.664),
    whatsapp__3:rgba(5, 83, 5, 0.856),

    tiktok: black
);
