*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import 'vars';
@import'mixins';
@import'fonts';
@import 'maps';

.logo{
    @include flexible(flex, center,center, nowrap);
    width: 100%;
    height: auto;

    &__png{
        width: 20%;
    }
}
@font-face{
    font-family: "etna-sans-serif";
    src:url("../etna-sans-serif/etna-free-font.otf")
}
p{
   font-family:"etna-sans-serif";
}
.body{
    background-color: $color-primario;
}
.conteiner{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}
 
header{
    text-align: center;
    background-color: $color-primario;
    height: 100px;
    width: 25;

    .header__2{
        @include flexible(flex, center,center, nowrap)
    }

    .row{
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .parrafo{
        text-decoration: none;
        list-style: none;
        font-family: "etna-sans-serif";
        color: #373737;
    }
}
.grid-layout{
     @include grid (grid, columns, row, center, center);
        margin: 0% auto;
        width: 80%;
        height: 100%;
        .img{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            row-gap: 3%;
            transition: 0.5s;
            object-fit: cover;
            overflow: hidden;
            border-radius: 1rem;
            cursor: pointer;
            padding: 2px;
            transition: all 1s;
        }
        .img:hover{
            transform: scale(1.1);
        }
}

.I1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.I2{
    grid-column: 3/5;
    grid-row: 1/2;
}
.I3{
    grid-column: 2/4; 
    grid-row: 2/3;
}
.I4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.I5{
    grid-column: -5/-3;
    grid-row: 3/4;
}
.I6{
    grid-column: -3/-1;
    grid-row: -2/-1;
}
.I7{
    grid-column: -1/-2;
    grid-row: -2/-3;
}
.I8{
    grid-column: -5/-1;
}
@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .I1{
         grid-column: 1/1;
         grid-row: auto;
     }
     .I2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .I3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .I4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .I5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .I6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .I7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .I8{
         grid-column: 1/1;
         grid-row: auto;
     }
     }

/*pagina de embarazo*/

.T8{
    grid-column: -3/-2;
    grid-row: -3/-2;
}
.T9{
    grid-column: -2/-1;
    grid-row: -3/-2;
}
.T10{
    grid-column: -5/-3;
    grid-row: 3/5;
}
.T11{
    grid-column: -3/-1;
    grid-row: -2/-1;
}

@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .T1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .T2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T9{
        grid-column: 1/1;
        grid-row: auto;
     }
     .T10{
        grid-column: 1/1;
        grid-row: auto;
     }
     .T11{
        grid-column: 1/1;
        grid-row: auto;
     }
     .T12{
        grid-column: 1/1;
        grid-row: auto;
     }
}

/*pagina de familias*/

.m1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.m2{
    grid-column: 3/5;
    grid-row: 1/2;
}
.m5{
    grid-column: 3/5;
    grid-row: -3/-1;
}
.m9{
    grid-column: 1/3;
    grid-row: 2/4;
}
@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .m1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .m2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m9{
        grid-column: 1/1;
        grid-row: auto;
     }
     .m10{
        grid-column: 1/1;
        grid-row: auto;
     }
     .m11{
        grid-column: 1/1;
        grid-row: auto;
     }
     .m12{
        grid-column: 1/1;
        grid-row: auto;
     }
}
/*pagina de newbor*/

.c1{
    grid-column: 1/3;
    grid-row: 2/3;
}
.c7{
    grid-column: -5/-3;
    grid-row: 3/4;
}
.c8{
    grid-column: 3/5;
    grid-row: -3/-2;
}
.c9{
    grid-column: -3/-1;
    grid-row: -2/-1;
}
.c10{
    grid-column: -5/-3;
    grid-row: 4/5;
}
.c11{
    grid-column: -3/-1;
    grid-row: -1/-1 ;
}

@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .c1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .c2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c9{
        grid-column: 1/1;
        grid-row: auto;
     }
     .c10{
        grid-column: 1/1;
        grid-row: auto;
     }
     .c11{
        grid-column: 1/1;
        grid-row: auto;
     }
     
}
/*pagina infantiles*/
.P6{
    grid-column:3/4 ;
    grid-row: 1/2;
}
.P7{
    grid-column: -1/-3;
    grid-row: -1/-1;
}
.P8{
    grid-column: 4/5;
    grid-row: 1/2;
}
.P11{
    grid-column: -3/-5;
    grid-row: 4/5;
}
@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .P1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .P2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P9{
        grid-column: 1/1;
        grid-row: auto;
     }
     .P11{
        grid-column: 1/1;
        grid-row: auto;
     }
     
}
/*pagina de smashcake*/
.R1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.R3{
    grid-column: 3/5;
    grid-row: 1/2;
}
.R8{
    grid-column: -3/-1;
    grid-row: -1/-1;
}
.R11{
    grid-column: -3/-5;
    grid-row: 4/5;
}
@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .R1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .R3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R9{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R11{
         grid-column: 1/1;
         grid-row: auto;
     }
}


.formulario{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "etna-sans-serif";
    flex-direction: column;
    width: 40%;
    flex-wrap: nowrap;
    background-image: linear-gradient(to top, #5c5459, #625c62, #68646b, #6f6d73, #75757c, #797c83, #7e828a, #828990, #859097, #89989c, #8e9fa1, #93a6a5);
    border: 0.5px solid;
    text-align: center;
    color: #3737379a;
    border-radius: 7px;
    padding: 0.2rem;
    .bordes{
        border-radius: 1.5rem;
        margin: 15px;
        font-size: 1rem;
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 0.5rem;
        background-color: white;
    }
    .bordes__2{
        border-radius: 1.5rem;
        margin: 15px;
        font-size: 1rem;
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 0.5rem;
        background-color: white;
    }
    .bordes__3{
        border-radius: 1.5rem;
        margin: 15px;
        font-size: 1rem;
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 0.5rem;
        background-color: white;
    }
    .bordes__4{
        border-radius: 1.5rem;
        margin: 15px;
        font-size: 20px;
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 1.5rem;  
        background-color: white;
    }
    .enviar{
        border-radius: 1rem;
        margin: 15px;
        font-size: 20px;
        text-align: center;
        font-family: "etna-sans-serif";
        color: #5252528e;
        padding: 7px;
    }
    .restablecer{
        border-radius: 1rem;
        margin: 15px;
        font-size: 20px;
        text-align: center;
        font-family: "etna-sans-serif";
        color: #5252528e;
        padding: 7px;
    }
    .div__formulario{
        width: 100%;
        height: auto;
    }  
    @media screen and (max-width: 501px) {
        .formulario{
             width: 90%;
        }   
    }

}
.row__2{
    @include flexible(flex, center, center, nowrap)
}
.row__3{
   @extend .row__2;
   justify-content: space-evenly;
   
   .cuadro{
    border: 1px solid black;
    border-radius: 1rem;
    }
    .img1{
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
    .link__r{
        color: #373737;
        text-decoration: none;
    }
    .pReservarsesion{
        text-align: center;
        color: #373737;
    }
    .link__re{
        text-decoration: none;
    }
}
@media screen and (max-width: 501px) {
    .row__3{
        padding: 1rem;
        row-gap: 1rem;
        flex-direction: column;
    }
    
} 

.centrar__1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .lista{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        width: 40%;
        text-align: center;

        .day-name{
            background: #8d8b8b79;
            font-family: "etna-sans-serif";
            width: 100%;
            padding: 0.2rem;
        }
    }
    @media screen and (max-width: 768px) {
        .centrar__1{
            flex-direction: column;
            width: 100%;   
        }
        .lista{
            width: 90%;
        }
        .colum{
            width: 100%;
        }
        .tamaño__1{
            width: 100%;
        }
    }
}
.container{
     padding: 1rem; 

    .row__7{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .imagen1{
        width: 100%;
        border-radius: 1rem;
    }
    @media screen and (max-width: 501px) {
        .row__7{
            flex-direction: column;
        }
        p{
            color: #5c5459;
            font-size:medium;
            border-radius: 0.5em;
        }
    }
}
 
.row__5{
    @extend .row__2;
    flex-direction: column;
    width: 100%;
    .tamaño__1{
        @extend .row__2; 
        column-gap: 2rem;
        width: 50%;
    }
    .encabezado__form{
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 1rem;
    }
    .colum{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        width: 100%;   
    }
    .color__b{
        font-family: "etna-sans-serif";
        color: #7e828a;
    }
    .btn{
        border: 1px solid black;
        
    }
}

.foto__propia{
    width: 100%;
    height: 100%;
    
}.mi__foto{
   @include flexible( flex, center, center, nowrap);
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: auto;
    border-radius: 1rem;
}
@media screen and (max-width: 768px) {
    .mi__foto{
        width: 100%;
    
    .texto{
        width: 100%;
    }}

    
}
.descripcion{

   @include flexible(flex, center, center, wrap);
    flex-direction: row;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .texto{
        flex-direction: row;
        font-family: "etna-sans-serif";
        font-size: 1.2rem;
        color: #4b4949b7
    }
 }

footer{
    @include flexible(flex, center,center, nowrap);
    text-align: center;
    background-color: $color-secundario(#fffefe2d);
    position:sticky;
    bottom: 0%;
    height: 6rem;
    .instagram{
        display: block;
        position: relative;
        right: 1%;
        font-size: 2rem;
        .insta{
            color: map-get($redes, instagram) ;
            animation: alternate;
            animation-name: insta;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        @keyframes insta{
            0%{
                color: map-get($redes, instagram ) ;
                transform: scale(1);
                transform: translate3d(1);
            }
          
            50%{
                color: map-get($redes, instagram__2);
                transform: scale(1.2);
                transform: translate3d(1.3);
                font-size: large;
            }
            100%{
                color: map-get($redes, instagra__3 ) ;
                transform: scale(1.5);
                transform: translate3d(1.5);
                font-size: large;
            }
            
        }
           
    }
 }
 .facebook{
    display: block;
    position: relative;
    left: 1%;
    font-size: 1.5rem;

    .face{
        color: map-get($redes, facebook );
        animation: alternate;
        animation-name: face;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes face{
        0%{
            color: map-get($redes, facebook ) ;
            transform: scale(1);
            transform: translate3d(1);
        }
      
        50%{
            color: map-get($redes, facebook__2 );
            transform: scale(1.2);
            transform: translate3d(1.5);
            font-size: large;
        }
        100%{
            color: map-get($redes, facebook__3);
            transform: scale(1.5);
            transform: translate3d(1.5);
            font-size: large;
        }
    }
}


.whatsapp{
    display: block;
    position: relative;
    left: 45%;
    bottom: 1.5rem;
    font-size: 3rem;

   .what{
        color: map-get($redes, whatsapp);
        animation: alternate;
        animation-name: what;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes what{
        0%{
            color :map-get($redes, whatsapp);
            transform: scale(1);
            transform: translate3d(1);
        }
      
        50%{
            color:map-get($redes, whatsapp__2);
            transform: scale(1.2);
            transform: translate3d(1.3);
            font-size: large;
        }
        100%{
            color: map-get($redes, whatsapp__3);
            transform: scale(1.5);
            transform: translate3d(1.5);
            font-size: large;
        }
     }    
}
@media screen and (max-width: 768px) {
    .derechos{
        width: 100%;
        font-size: small;
    }  
}
.derechos{
    display: inline-block;
    bottom: 0%;
    width: 100%;
    margin-bottom: 0%;
    margin-top: 5%;
    text-align: center;
    position: fixed;
}    





